openapi-spec-validator
PyYAML
fuzzywuzzy
requests
pytest
python-dotenv


python main.py --old-spec old_openapi.yaml --new-spec new_openapi.yaml --test-type postman --test-path realworld/api/Conduit.postman_collection.json